body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#width {
  width: 800px;
}

#centeredContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#background {
  background-color: rgb(217, 227, 255);
}

#line {
  margin: 0px;
}

#logBox {
  width: 800px;
  height: 400px;
  font-size: 20px;
}

#sideBySide {
  display: flex;
  flex-direction: row;
}

#time {
  font-family:'digital-clock-font';
  /* src: url('put_the_location_to_your_font.ttf or .otf'); */
  font-size: 30px;
  color: red;
  margin: 20px;
  padding-top: 10px;
  width: 120px;
  height: 40px;
  background: rgb(211, 209, 207);
  text-align: center;
  margin-right: 5px;
  border-style: solid;
  border-width: thin;
  border-color: rgb(146, 146, 146);
}

#timeButton {
  margin: 20px;
  width: 120px;
  height: 40px;
  margin-left: 5px;
  border-style: solid;
  border-width: thin;
  border-color: rgb(146, 146, 146);
}

#micIcon {
  padding-left: 10px;
}

#likesCount {
  font-size: 40px;
  width: 80px;
  height: 80px;
  margin-left: 10px;
}

#likeLabel {
  font-size: 40px;
  padding-top: 30px;
  margin-right: 10px;
}

#listOfSessions {
  display: flex;
  flex-direction: row;
  background: rgb(217, 227, 255);
}

#likeNumber {
  margin: 20px;
  font-size: 25px;
  color: red;
  background-color: rgb(219, 219, 219);
}

#titleRecordings {
  font-size: 25px;
  margin: 30px;
  text-align: center;
}

#totalLikesContainer {
  display: flex;
  flex-direction: row-reverse;
}

#totalLikes {
  font-size: 20px;
  padding-top: 20px;
  margin-right: 20px;
}

#allLikesNumber {
  margin-right: 20px;
  margin-bottom: 10px;
  padding-top: 20px;
  font-size: 30px;
  color: red;
  background-color: rgb(219, 219, 219);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  text-align: center;
}