body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#width {
  width: 800px;
}

#centeredContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logBox {
  width: 800px;
  height: 400px;
}

#sideBySide {
  display: flex;
  flex-direction: row;
}